/*  
======================================================================
  STYLE RESET
======================================================================
*/
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt,
b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot,
thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

footer, header, nav, section, main {
  display: block;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/*  
======================================================================
  STYLE GUIDE
======================================================================
*/
/*  
======================================================================
  TYPOGRAPHY | PARAGRAPH
======================================================================
*/
/*  
======================================================================
  TYPOGRAPHY | HEADING
======================================================================
*/
/*  
======================================================================
  PRIMARY COLOR 
======================================================================
*/
/*  
======================================================================
  SECONDARY COLOR
======================================================================
*/
/*  
======================================================================
  NEUTRAL COLOR
======================================================================
*/
/*  
======================================================================
  GRADIENT COLOR
======================================================================
*/
header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  font-family: Excon-Bold;
  font-weight: 400;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
header .box {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .box .logo img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-width: 136px;
  transition: all 0.2s ease-in-out;
}
header .box .logo img:hover {
  transform: translateY(-5px);
}
header .box nav ul {
  display: flex;
  margin: 0;
  padding: 30px;
  font-size: 18px;
  color: #FFFFFF;
}
header .box nav ul li {
  margin-left: 3rem;
}
header .box nav ul li a {
  color: #FFFFFF;
}
header .box nav ul li a:hover {
  color: #4C4C56;
}
header .box nav ul li:first-child {
  margin-left: 0;
}
header .box nav ul li:nth-child(3) {
  color: #FFFFFF;
}
header .box nav ul li:nth-child(3):hover {
  color: #4C4C56;
}
header .box nav ul .more-options {
  position: relative;
  padding: 0;
  background: none;
  border: none;
  font-size: 17px;
  max-height: -moz-max-content;
  max-height: max-content;
  cursor: pointer;
}
header .box nav ul .more-options:hover .dropdown-menu {
  display: block;
}
header .box nav ul .more-options .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -250px;
  z-index: 1;
  display: none;
  min-width: 600px;
  min-height: 350px;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  background-color: #FAFAFA;
  box-shadow: 4px 4px 0 rgba(5, 2, 41, 0.1);
  border: solid 1px #e4e4eb;
  border-radius: 36px;
}
header .box nav ul .more-options .dropdown-menu .tst {
  display: flex;
  margin-top: 20px;
  padding: 50px 40px 45px 40px;
}
header .box nav ul .more-options .dropdown-menu .tst h1 {
  width: 50%;
  justify-content: center;
  align-items: center;
  font-family: THICCCBOI-ExtraBold;
  color: #000;
}
header .box nav ul .more-options .dropdown-menu .tst .menu-alignment {
  margin-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
header .box nav ul .more-options .dropdown-menu .tst .menu-alignment .structure-title-menu {
  margin: 0 0 20px 0;
}
header .box nav ul .more-options .dropdown-menu .tst .menu-alignment .pai {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
}
header .box nav ul .more-options .dropdown-menu .tst .menu-alignment .pai li {
  margin: 0 0 20px 0;
}
header .box nav ul .more-options .dropdown-menu .tst .utility-alignment {
  flex-direction: column;
  min-height: 150px;
  width: 40%;
  display: flex;
}
header .box nav ul .more-options .dropdown-menu .tst .utility-alignment .structure-title-utility-pages {
  margin: 0 0 20px 0;
}
header .box nav ul .more-options .dropdown-menu .tst .utility-alignment .structure-title-utility-pages h1 {
  width: -moz-max-content;
  width: max-content;
}
header .box nav ul .more-options .dropdown-menu .tst .utility-alignment .structure-list-utility-pages li {
  margin: 0 0 20px 0;
}
@media screen and (max-width: 1010px) {
  header .box nav {
    display: none;
  }
}
header .box .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
header .box .button .cart {
  display: none;
}
@media screen and (max-width: 1010px) {
  header .box .button .cart {
    display: inline;
    margin-right: 20px;
  }
}
header .box .button button {
  padding: 15px 25px;
  background-image: linear-gradient(to right, #F4377B, #BA30FB);
  color: #FAFAFA;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: THICCCBOI-Bold;
  font-size: 16px;
}
header .box .button button:hover {
  background-color: #4C4C56;
}
header .box .button .menu-toggle img {
  display: none;
}
@media screen and (max-width: 1010px) {
  header .box .button .menu-toggle {
    display: flex;
    background-color: #FFFFFF;
    width: 40px;
    border: none;
    border-radius: 0.7rem;
    padding: 7px 7px;
    margin-left: 10px;
  }
  header .box .button .menu-toggle img {
    display: block;
    height: -moz-max-content;
    height: max-content;
    width: 35px;
    margin: auto;
  }
}
@media screen and (max-width: 1010px) {
  header .box .button {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1010px) {
  header .box {
    padding: 0 20px;
  }
}/*# sourceMappingURL=header.component.css.map */