<header>
    <div class="box">
        <div class="logo">
            <a href="#">
                <img src="https://uploads-ssl.webflow.com/636278d56e610029b4539c93/6362b63e52adcc74d54ffb93_club-logo-header-club-webflow-template.svg" alt="Logo da empresa">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Events</a></li>
                <li class="more-options">Pages
                    <ul class="dropdown-menu">
                        <div class="tst">
                            <div class="menu-alignment">
                                <div class="structure-title-menu">
                                    <h1>Menu</h1>
                                </div>
                                <div class="pai">
                                    <span class="">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Blog Post</a></li>
                                    </span>
                                    <span>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Pricing single</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="#">Jobs single</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </span>
                                </div>
                            </div>
                            <div class="utility-alignment">
                                <div class="structure-title-utility-pages">
                                    <h1>Utility Pages</h1>
                                </div>
                                <div class="structure-list-utility-pages">
                                    <li><a href="#">404 not found</a></li>
                                    <li><a href="#">Password Protected</a></li>
                                    <li><a href="#">Licenses</a></li>
                                    <li><a href="#">Style Guide</a></li>
                                    <li><a href="#">Start here</a></li>
                                    <li><a href="#">Changelog</a></li>
                                    <li><a href="#">Browse More Templates</a></li>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li><a href="#" class="cart-style">Cart <span>(0)</span></a></li>
            </ul>
        </nav>
        <div class="button">
            <div class="cart">  
                <a href="#" class="cart-style">Cart <span>(0)</span></a>
            </div>
            <div>
                <button>BUY TICKETS</button>
            </div>
            <div class="menu-toggle">
                <img src="/content/dam/aem-dev/Hamburguer-menu.png" alt="">
            </div>

        </div>
    </div>
</header>
