@import "../../../styles.scss";

header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  font-family: Excon-Bold;
  font-weight: 400;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;

  .box {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {
        max-width: 100%;
        height: auto;
        width: auto;
        max-width: 136px;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: translateY(-5px);
          
        }
      }
    }
    nav {
      ul {
        display: flex;
        margin: 0;
        padding: 30px;
        font-size: 18px;
        color: $neutral-100;

        li {
          margin-left: 3rem;

          a {
            color: $neutral-100;

            &:hover {
              color: $neutral-600;
            }
          }

          &:first-child {
            margin-left: 0;
          }

          &:nth-child(3) {
            color: $neutral-100;

            &:hover {
              color: $neutral-600;
            }
          }
        }

        .more-options {
          position: relative;
          padding: 0;
          background: none;
          border: none;
          font-size: 17px;
          max-height: max-content;
          cursor: pointer;

          &:hover .dropdown-menu {
            display: block;
          }

          .dropdown-menu {
            position: absolute;
            top: 100%;
            left: -250px;
            z-index: 1;
            display: none;
            min-width: 600px;
            min-height: 350px;
            margin: 10px 0 0 0;
            padding: 0 0 0 0;
            background-color: $neutral-200;
            box-shadow: 4px 4px 0 rgba(5, 2, 41, 0.1);
            border: solid 1px #e4e4eb;
            border-radius: 36px;

            .tst {
              display: flex;
              margin-top: 20px;
              padding: 50px 40px 45px 40px;

              h1 {
                width: 50%;
                justify-content: center;
                align-items: center;
                font-family: THICCCBOI-ExtraBold;
                color: #000;
              }

              .menu-alignment {
                margin-left: 5%;
                width: 50%;
                display: flex;
                flex-direction: column;

                .structure-title-menu {
                  margin: 0 0 20px 0;
                }
                .pai {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  max-width: 200px;

                  li {
                    margin: 0 0 20px 0;
                  }
                }
              }
              .utility-alignment {
                flex-direction: column;
                min-height: 150px;
                width: 40%;
                display: flex;

                .structure-title-utility-pages {
                  margin: 0 0 20px 0;

                  h1 {
                    width: max-content;
                  }
                }
                .structure-list-utility-pages {
                  li {
                    margin: 0 0 20px 0;
                  }
                }
              }
            }
          }
        }
      }

      // nav
      @media screen and (max-width: 1010px) {
        display: none;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 300px;

      .cart {
        display: none;

        @media screen and (max-width: 1010px) {
          display: inline;
          margin-right: 20px;
        }
      }
      button {
        padding: 15px 25px;

        background-image: linear-gradient(to right, $Gradient-01, $Gradient-02);
        color: $neutral-200;
        border: none;
        border-radius: 9px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        font-family: THICCCBOI-Bold;
        font-size: 16px;

        &:hover {
          background-color: $neutral-600;
        }
      }
      .menu-toggle {
        img {
          display: none;
        }

        @media screen and (max-width: 1010px) {
          display: flex;
          background-color: $neutral-100;
          width: 40px;
          border: none;
          border-radius: 0.7rem;
          padding: 7px 7px;
          margin-left: 10px;

          img {
            display: block;
            height: max-content;
            width: 35px;
            margin: auto;
          }
        }
      }

      @media screen and (max-width: 1010px) {
        display: flex;
        align-items: center;
      }
    }

    // Box
    @media screen and (max-width: 1010px) {
      padding: 0 20px;
    }
  }
}
