@font-face {
  font-family: "Excon-Black";
  src: url(/../../config/club-x/font/Excon-Black.woff2) format(woff2);
}
@font-face {
  font-family: "Excon-Bold";
  src: url(/../../config/club-x/font/Excon-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Excon-Light";
  src: url(/../../config/club-x/font/Excon-Light.woff2) format(woff2);
}
@font-face {
  font-family: "Excon-Medium";
  src: url(/../../config/club-x/font/Excon-Medium.woff2) format(woff2);
}
@font-face {
  font-family: "Excon-Regular";
  src: url(/../../config/club-x/font/Excon-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Excon-Thin";
  src: url(/../../config/club-x/font/Excon-Thin.woff2) format(woff2);
}
@font-face {
  font-family: "Excon-Variable";
  src: url(/../../config/club-x/font/Excon-Variable.woff2) format(woff2);
}
